<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Partner Code</Data></Cell>
        <Cell><Data ss:Type="String">DNA Sequence</Data></Cell>      
        <Cell><Data ss:Type="String">Oligo Date</Data></Cell>
        <Cell><Data ss:Type="String">Organism Name</Data></Cell>
        <Cell><Data ss:Type="String">Partner ID</Data></Cell>
        <Cell><Data ss:Type="String">People Name</Data></Cell>
        <Cell><Data ss:Type="String">Taxonomy Name</Data></Cell>
        <Cell><Data ss:Type="String">Taxonomy ID</Data></Cell>
      </Row>
    <%= @oligos.each do |oligo_sequence| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= oligo_sequence.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= oligo_sequence.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= oligo_sequence.code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= oligo_sequence.dna_ellipsis %></Data></Cell>
        <Cell><Data ss:Type="String"><%= oligo_sequence.oligoDate %></Data></Cell>
        <Cell><Data ss:Type="String"><%= oligo_sequence.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= oligo_sequence.partner_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= oligo_sequence.people_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= oligo_sequence.taxonomy_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= oligo_sequence.taxonomy_id %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>



