

<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "Oligo Sequence File Upload", new_batch_oligo_path %></li>
  </td></tr>
</table>


<h1>Oligo sequences</h1>
<table>
<tr><td><%= link_to 'New oligo sequence', new_oligo_sequence_path %></td>
</tr>
<tr><td><a href="<%= '/export_all' %>">Export all oligos as CSV</a><b>(</b><a href="<%= 'export_all_xls.xls' %>">Excel</a><b>)</b></td>
    <td><a href="<%= '/export_to_csv' %>" onclick="x(); return false;">Export selected oligos as CSV</a></td>
</tr>
</table>

<script type="text/javascript" >

function x() {

var obj = jQuery("input:checked").map(function() { return jQuery(this).parents('tr').attr('id'); });
     
     var result = null;
     var arr = jQuery.makeArray(obj);
     var data = arr.join(',');
     
     
   $.ajax({
	     url : '<%= url_for :controller => "oligo_sequences", :action => "export_to_csv" %>',
             type : 'POST',
	     data : {data:data},
	     dataType : 'string',
             async: false,
             success : function(response) { result = response; }
         }); 

    window.open('data:text/csv;charset=utf-8,' + escape(result));

};
  
 function grdloaded(){
        //alert('Loaded')
    }
 function formatEditors(id) {
        // Your drop down code here...
        // EG: jQuery("#"+id+"_myDropDownRow","#mygrid").
    }

//use, :selection_handler => "handleSelection", :direct_selection => true
//use, :grid_complete => "grid_complete" 


</script>
    
<%=raw jqgrid("List of oligo sequences: you can filter (using the lens icon in the bottom of the grid), sort (clicking on the header column), scroll the data in the grid (using the pagination system)", "ngbgrid", "/oligo_sequences",
	[
		{ :field => "id", :label => "ID", :width => 25, :resizable => false, :sortable => false, :editable => false, :hidden => true},
        { :field => "act", :label => "Details", :width => 25, :align => 'center', :resizable => true, :sortable => false, :search => false },
	{ :field => "code", :label => "PartnerCode", :width => 100, :search => true, :sortable => true  },
		{ :field => "verbose_me", :label => "Description", :search => true, :width => 140, :sortable => true  },
		{ :field => "dna_ellipsis", :label => "DNASequence", :width => 200, :search => true, :sortable => true  },
      { :field => "partner_name", :label => "Partner", :sortable => true, :width => 70, :search => true, :searchtype => "select", :searchoptions => { :data => [Partner.all, :id, :code] }, :edittype => 'select', :editable => true, :editoptions => { :data => [Partner.all, :id, :code] } },
		
      { :field => "people_name", :label => "Person", :search => false, :sortable => false, :editable => false, :width => 100 },
      { :field => "taxonomy_name", :label => "TaxName", :search => true, :width => 100, :sortable => true  },
      { :field => "taxonomy_id", :label => "TaxID", :search => true, :width => 50, :sortable => true  },

      { :field => "available", :label => "Select Oligos", :width => 25 , :resizable => true, :sortable => false, :search => false, :formatter => 'checkbox', :formatoptions => { :disabled => false }, :editable => true, :edittype => 'checkbox', :align => 'center'  },	

		{ :field => "edit_link", :label => "edit", :search => false, :sortable => false, :width => 25, :align => 'center', :resizable => false}
	], 
    {   :autowidth=>true,
        :add => false, 
        :edit => false, 
        :inline_edit => false, 
        :delete => true, 
        :rows_per_page => "50", 
        :height => 800, 
        :rownumbers => 'false',
        :grid_loaded => 'grdloaded',
        :multiselect => 'true',
        :subgrid=> { 
                :url => experiments_path,
                :rows_per_page => 40,
                :sort_column => 'microarraygal_id',
                :sort_order => 'asc',
                :search => 'false',
                :rownumbers => 'false',
                :columns => [
		            { :field => "id", :label => "ID", :width => 50, :resizable => false, :sortable => false, :editable => false, :hidden => true},
        { :field => "act", :label => "", :width => 30 , :resizable => false, :sortable => false, :search => false, :resizable => true },
        { :field => "exp_code", :label => "Microarray exp. code", :search => true, :width => 130, :sortable => true, :resizable => true },
        { :field => "gal_code", :label => "GAL code", :search => true, :sortable => true, :editable => false, :width => 250, :resizable => true },
        { :field => "exp_date", :label => "Exp. date", :search => true, :sortable => true, :editable => false, :width => 100, :resizable => true },
	{ :field => "edit", :label => "Edit", :search => false, :sortable => false, :width => 50 , :resizable => true}
]}

}) %>

<br />
<table>
<tr><td><a href="<%= '/export_all' %>">Export all oligos as CSV</a><b>(</b><a href="<%= 'export_all_xls.xls' %>">Excel</a><b>)</b></td>
    <td><a href="<%= '/export_to_csv' %>" onclick="x(); return false;">Export selected oligos as CSV</a></td>
</tr>
<tr><td><%= link_to 'New oligo sequence', new_oligo_sequence_path %></td>
</tr>
</table>


