<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "Microarray .GAL", microarraygals_path %></li>
      <li><%= link_to "Microarray .GPR", microarraygprs_path %></li>
      <li><%= link_to "Microarray Images", micro_array_images_path %></li>
      <li><%= link_to "Microarray Analysis files", micro_array_analysis_files_path %></li>
      <li><%= link_to "Microarray Validations", micro_array_validations_path %></li> 
    </ul>
  </td></tr>
</table>

<h1>Editing micro array analysis file</h1>

<% form_for(@micro_array_analysis_file) do |f| %>
  <%= f.error_messages %>

  <div class="field select">
    <%= f.label :microarray_id, "Microarray" %><br />
    <h3><%= @ma.verbose_me %></h3>
  </div>

  <div class="field txt">
    <%= f.label :MIANE_Standard, "MIANE Standard" %><br />
    <%= f.text_field :MIANE_Standard %>
  </div>

  <div class="field area">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<%= link_to 'Show', @micro_array_analysis_file %> |
<%= link_to 'Back', micro_array_analysis_files_path %>

