<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "Microarray .GAL", microarraygals_path %></li>
      <li><%= link_to "Microarray .GPR", microarraygprs_path %></li>
      <li><%= link_to "Microarray Images", micro_array_images_path %></li>
      <li><%= link_to "Microarray Analysis files", micro_array_analysis_files_path %></li>
      <li><%= link_to "Microarray Validations", micro_array_validations_path %></li> 
    </ul>
  </td></tr>
</table>

<h1>Microarray Analysis</h1>
<%= link_to 'New micro_array_analysis_file', new_micro_array_analysis_file_path %>
<br />
<br />

<table>
  <tr>
    <th>Microarray</th>
    <th>Miane standard</th>
    <th>Note</th>
  </tr>

<% @micro_array_analysis_files.each do |micro_array_analysis_file| %>
  <tr>
    <td><%=h micro_array_analysis_file.id %></td>
    <td><%=h micro_array_analysis_file.MIAME_Standard %></td>
    <td><%=h truncate(micro_array_analysis_file.note, :length => 25, :omission => '... (continued)') %></td>
    <td><%= link_to 'Show', micro_array_analysis_file %></td>
    <% if auth_ma_user(micro_array_analysis_file.experiment_id) or signed_in_and_master? %>
      <td><%= link_to 'Edit', edit_micro_array_analysis_file_path(micro_array_analysis_file) %></td>
      <td><%= link_to 'Delete', micro_array_analysis_file, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<br />
<%= link_to 'New micro_array_analysis_file', new_micro_array_analysis_file_path %>
<br />

