<%= stylesheet_link_tag 'jqWidgets/jqx.base' %>
<%= stylesheet_link_tag 'jqWidgets/jqx.energyblue' %> 
<%= javascript_include_tag 'jqWidgets/jqx-all.js' %>
<%= javascript_include_tag 'jqWidgets/jqxcore.js' %>
<%= javascript_include_tag 'jqWidgets/jqxbuttons.js' %>
<%= javascript_include_tag 'jqWidgets/jqxscrollbar.js' %>
<%= javascript_include_tag 'jqWidgets/jqxpanel.js' %>
<%= javascript_include_tag 'jqWidgets/jqxtree.js' %>
<%= javascript_include_tag 'jqWidgets/jqxexpander.js' %>
<%= javascript_include_tag 'jqWidgets/jqxmenu.js' %>
<%= javascript_include_tag 'jqWidgets/jqxgrid.js' %>
<%= javascript_include_tag 'jqWidgets/jqxgrid.selection.js' %>
<%= javascript_include_tag 'jqWidgets/jqxgrid.columnsresize.js' %>
<%= javascript_include_tag 'jqWidgets/jqxgrid.pager.js' %>
<%= javascript_include_tag 'jqWidgets/jqxlistbox.js' %>
<%= javascript_include_tag 'jqWidgets/jqxdropdownlist.js' %>
<%= javascript_include_tag 'jqWidgets/jqxdata.js' %>
<%= javascript_include_tag 'jqWidgets/jqxcheckbox.js' %>



<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "Microarray .GAL", microarraygals_path %></li>
      <li><%= link_to "Microarray .GPR", microarraygprs_path %></li>
      <li><%= link_to "Microarray Images", micro_array_images_path %></li>
      <li><%= link_to "Microarray Analysis files", micro_array_analysis_files_path %></li>
      <li><%= link_to "Microarray Validations", micro_array_validations_path %></li> 
    </ul>
  </td></tr>
</table>


<br />
<br />

<h1>Microarray Analysis</h1>

<br />




    <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: top;">

	<div id="jqxgrid"></div>
        <div style='margin-top: 20px;'>
            <div style='float: left;'>
                <input type="button" value="Export to Excel" id='excelExport' />
            </div>
            <div style='margin-left: 10px; float: left;'>
                <input type="button" value="Export to CSV" id='csvExport' />
            </div>
	<div style='margin-left: 10px; float: left;'>
                <input type="button" value="Normalize" id='normalize' />
            </div>
	</div>
	<br />
	<br />
        <div id="mainGrid">
        </div><br />
        <h3>
            Microarray Analysed Data</h3>
        <div id="subGrid">
        </div>
    </div>

<br />
<br />
<%= link_to 'New micro_array_analysis_file', new_micro_array_analysis_file_path %>
<br />

<script type="text/javascript">

$(document).ready(function() {

            // prepare the data
            var source =
            {
		datatype: "json",
                datafields: [
		    { name: 'available', type: 'bool' },	
                    { name: 'id', type: 'int' },
                    { name: 'ecode', type: 'string' },
                    { name: 'gprcode', type: 'string' },
                    { name: 'date', type: 'string' },
                    { name: 'note', type: 'string' }
                ],
                localdata: <%=raw @mainTableData.to_json %>
		};

	var dataAdapter = new $.jqx.dataAdapter(source);
            $("#mainGrid").jqxGrid(
            {
                width: 850,
                height: 125,
                source: dataAdapter,             
                keyboardnavigation: false,
                columns: [
		    { text: 'Select', datafield: 'available', columntype: 'checkbox', width: 67, cellsalign: 'center', align: 'center' }, 		
                    { text: 'Analysis ID', datafield: 'id', width: 100 },
                    { text: 'Experiment Code', datafield: 'ecode', width: 150 },
                    { text: 'GPR Code', datafield: 'gprcode', width: 200 },
                    { text: 'Date', datafield: 'date', width: 200 },
                    { text: 'Note', datafield: 'note'}
                ]
            });		

	// Orders Grid
            // prepare the data
            var dataFields = [
                        { name: 'id', type: 'int' },
                        { name: 'probe', type: 'string' },
                        { name: 'snr', type: 'float' },
                        { name: 'tsi', type: 'float'} ];
            var source =
            {
		datatype: "json",
                datafields: dataFields,
                localdata: <%=raw @analysed_data.to_json %>
		};
	var dataAdapter = new $.jqx.dataAdapter(source);
            dataAdapter.dataBind();
            $("#mainGrid").on('rowselect', function (event) {
                var selectedText = event.args.row.id;
                var records = new Array();
                var length = dataAdapter.records.length;
                for (var i = 0; i < length; i++) {
                    var record = dataAdapter.records[i];
                    if (record.id == selectedText) {
                        records[records.length] = record;
                    }
                }
                var dataSource = {
                    datafields: dataFields,
                    localdata: records
                }
                var adapter = new $.jqx.dataAdapter(dataSource);
        
                // update data source.
                $("#subGrid").jqxGrid({ source: adapter });
            });
            $("#subGrid").jqxGrid(
            {
                width: 575,
                height: 250,
                keyboardnavigation: false,
		columns: [
                    { text: 'Analysis ID', datafield: 'id', width: 100 },
                    { text: 'Probes', datafield: 'probe', width: 150 },
                    { text: 'Signal To Noise Ratio', datafield: 'snr', width: 150 },
                    { text: 'Total Signal Intensity', datafield: 'tsi', width: 150 }
                ]
            });
            $("#mainGrid").jqxGrid('selectrow', 0);
        });


	$("#excelExport").jqxButton();
            $("#csvExport").jqxButton();
            
            $("#excelExport").click(function () {
                $("#jqxgrid").jqxGrid('exportdata', 'xls', 'jqxGrid');           
            });
            
            $("#normalize").click(function () {
                $("#jqxgrid").jqxGrid('exportdata', 'csv', 'jqxGrid');
            });
           














</script>





