<table>
<tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "land use mapping", land_use_mappings_path %></li>
      <li><%= link_to "water use", water_uses_path %></li>
      <li><%= link_to "water type", water_types_path %></li>
      <li><%= link_to "geo", geos_path %></li>
      <li><%= link_to "alt. type", altitude_types_path %></li>
      <li><%= link_to "catchment area", catchment_areas_path %></li>
      <li><%= link_to "depth", depths_path %></li>
      <li><%= link_to "size type", size_typologies_path %></li>
      <li><%= link_to "geology", geologies_path %></li>
    </ul>
  </td></tr>
</table>

<h1>Water types</h1>
<%= link_to 'New water_type', new_water_type_path %>
<br />
<br />

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @water_types.each do |water_type| %>
  <tr>
    <td><%=h water_type.code %></td>
    <td><%=h water_type.name %></td>
    <td><%=h water_type.desc_ellipsis %></td>
    <td><%= link_to 'Show', water_type %></td>
    <td><%= link_to 'Edit', edit_water_type_path(water_type) %></td>
    <td><%= link_to 'Delete', water_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<br />
<%= link_to 'New water_type', new_water_type_path %>
<br />

