<p>
  <b>Code:</b>
  <%=h @water_type.code %>
</p>
<p>
  <b>Name:</b>
  <%=h @water_type.name %>
</p>
<p>
  <b>Description:</b>
  <%=h @water_type.description %>
</p>

<%= link_to 'Edit', edit_water_type_path(@water_type) %> |
<%= link_to 'Back', water_types_path %>

