<h1>New node</h1>

<% form_for(@node) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tax_id %><br />
    <%= f.text_field :tax_id %>
  </p>
  <p>
    <%= f.label :parent_tax_id %><br />
    <%= f.text_field :parent_tax_id %>
  </p>
  <p>
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', nodes_path %>