
<table>
<tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "country", countries_path %></li>
    </ul>
  </td></tr>
</table>

<h1>New Geographical position</h1>

<%= link_to 'Back', geos_path %>

<%= form_for(@geo) do |f| %>
  <%= f.error_messages %>

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>

  <div class="field cod">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lon, "longitude (Degree formats °)" %><br />
    <%= f.text_field :lon %>
  </div>
  <div class="field">
    <%= f.label :lat, "latitude (Degree formats °)"  %><br />
    <%= f.text_field :lat %>
  </div>


  <div class="field select">
    <%= f.label :country_id, "Select country" %><br />
    <%= select :geo,:country_id,Country.find(:all).collect{|p| [p.verbose_me, p.id]}%>
  </div>
  <div class="field num">
    <%= f.label :width, "width (km)", :title => "Distance in km" %><br />
    <%= f.text_field :width %>
  </div>

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', geos_path %>

