<%= javascript_include_tag 'ym4r-gm.js' %>
<%= GMap.header %>

<%= link_to 'Edit', edit_geo_path(@geo) %> |
<%= link_to 'Back', geos_path %>
<br />

<table>
<tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "country", countries_path %></li>
    </ul>
  </td></tr>
</table>

<p>
  <b>Name:</b>
  <%=h @geo.name %>
</p>

<p>
  <b>Longitude (Degrees Minutes Seconds):</b>
  <%=h @geo.lng_name %>
</p>

<p>
  <b>Latitude (Degrees Minutes Seconds):</b>
  <%=h @geo.lat_name %>
</p>

<p>
  <b>Width (km):</b>
  <%=h @geo.width %>
</p>
<p>
  <b>State:</b>
  <%=h @state.name %>
</p>


<%= @map.to_html %>
<%= @map.div(:width => 600, :height => 400) %>
<br />
<%= link_to 'Edit', edit_geo_path(@geo) %> |
<%= link_to 'Back', geos_path %>

