<p>
  <b>Code:</b>
  <%=h @water_use.code %>
</p>
<p>
  <b>Name:</b>
  <%=h @water_use.name %>
</p>
<p>
  <b>Description:</b>
  <%=h @water_use.description %>
</p>


<%= link_to 'Edit', edit_water_use_path(@water_use) %> |
<%= link_to 'Back', water_uses_path %>

