<h1>Editing land use mapping</h1>

<%= form_for(@land_use_mapping) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :note, "Description" %><br />
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<%= link_to 'Show', @land_use_mapping %> |
<%= link_to 'Back to list', land_use_mappings_path %>

