<table>
<tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "land use mapping", land_use_mappings_path %></li>
      <li><%= link_to "water use", water_uses_path %></li>
      <li><%= link_to "water type", water_types_path %></li>
      <li><%= link_to "geo", geos_path %></li>
      <li><%= link_to "alt. type", altitude_types_path %></li>
      <li><%= link_to "catchment area", catchment_areas_path %></li>
      <li><%= link_to "depth", depths_path %></li>
      <li><%= link_to "size type", size_typologies_path %></li>
      <li><%= link_to "geology", geologies_path %></li>
    </ul>
  </td></tr>
</table>


<h1>Land use mappings</h1>
<%= link_to 'New land_use_mapping', new_land_use_mapping_path %>
<br />
<br />

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @land_use_mappings.each do |land_use_mapping| %>
  <tr>
    <td><%=h land_use_mapping.name %></td>
    <td><%=h land_use_mapping.desc_ellipsis %></td>
    <td><%= link_to 'Show', land_use_mapping %></td>
    <td><%= link_to 'Edit', edit_land_use_mapping_path(land_use_mapping) %></td>
    <td><%= link_to 'Delete', land_use_mapping, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<br />
<%= link_to 'New land_use_mapping', new_land_use_mapping_path %>
<br />

