<h1>Users</h1>
<br />
<br />

<div style="display:none;"> will_paginate </div>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <table><tr><td width="200px">
        <div style='display:none;'>gravatar_for user, :size => 30 </div>
        <%= image_tag("http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(user.email)}", :alt => 'Avatar', :class => 'avatar')  %>
      </td><td>
        <h2><%= link_to h(user.name), user %></h2>
        <h3>
          <% @pt = get_partner
          if !@pt.nil? %>
            <%= @pt.name %>
          <% end %>
        </h3>
      </td></tr></table>
    </li>
  <% end %>
</ul>

<table style="display:none;">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td>
        <% if current_user?(user) or signed_in_and_master? %>
            <%= link_to 'Edit', edit_user_path(user) %>
        <% end %>
    </td>
    <td style="display:none;"><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div style="display:none;"> will_paginate </div>

<br />
<br />
<div style="display:none;"> 
 link_to 'New user', new_user_path 
 </div>
<br />

