<table class="profile">
  <tr>
    <td width="200px">
        <div style='display:none;'>gravatar_for @user, :size => 30 </div>
        <%= image_tag("http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(@user.email)}", :alt => 'Avatar', :class => 'avatar')  %>
        <div style='display:none;'>image_tag avatar_url(@user) </div>
    </td><td style="text-align:left;" class="main">
      <h2><%= h @user.name %></h2>
      <h3>
          <% @pt = get_partner
          if !@pt.nil? %>
          <%= link_to @pt.verbose_me, partner_path(@pt) %>
        <% end %>
      </h3>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= h @user.name %><br />
      <strong>Email</strong> <%= h @user.email %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>

<% if current_user?(@user) or signed_in_and_master? %>
    <%= link_to 'Edit', edit_user_path(@user) %> | 
<% end %>
<%= link_to 'Back', users_path %>

