<%= jqgrid_stylesheets %>
<div style="display:none" javascript_include_tag('jqgrid/jquery.js') ></div>
<%= jqgrid_javascripts %> 

<h2>New Multiple Image File Upload (*.jpg, *.png, *.tiff)</h2>

<%= link_to 'Back', micro_array_images_path %>
<br /><br />

<% form_for(@batch_image, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

<style>
.actionSubmit {
                border:3px outset;
                background-color:#0174DF;
                color:#ffffff
}
</style>


<table>
       <tr><td>
		   <div class="add_file_button">
		   <input type="button" id="add_files" style=" border:3px outset;background-color:#0174DF;color:#ffffff" value="Add Files" />
		   </div>                  
           </td>
           <td>
		   <div class="actions">
		   <%= f.submit 'Save Files', :class => 'actionSubmit' %>
		   </div>
           </td>
       </tr>
       
</table> 
	       	    
    
	<div class="paperclip">
	    <% f.fields_for :image_assets do |asset| %><br>
            
             <% if asset.object.new_record? %>
	     <%= asset.file_field :photo %> <br>
             <% end %>
            
	    <% end %>
	 </div> 


      <div class="ExhistingFiles">



              <% @b_is.image_assets.each do | image | %>

             <%= image_tag(image.photo.url(:small)) %>

             <% end unless @b_is.image_assets.first.new_record? rescue nil %>

       </div> 





<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
$("div.paperclip > input").css("display","none");

$("#add_files").click(function() {$("#batch_image_image_assets_attributes_0_photo").toggle("slow");

 //Setup for the second click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_image_image_assets_attributes_1_photo").toggle("slow"); 
//Setup for the third click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_image_image_assets_attributes_2_photo").toggle("slow"); 
//Setup for the fourth click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_image_image_assets_attributes_3_photo").toggle("slow"); 
//Setup for the fifth click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_image_image_assets_attributes_4_photo").toggle("slow"); 
//Setup for the sixth click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_image_image_assets_attributes_5_photo").toggle("slow"); 
//Setup for the seventh click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_image_image_assets_attributes_6_photo").toggle("slow"); 
//Setup for the eigth click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_image_image_assets_attributes_7_photo").toggle("slow"); 
//Setup for the ninth click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_image_image_assets_attributes_8_photo").toggle("slow"); 
//Setup for the 10th click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_image_image_assets_attributes_9_photo").toggle("slow");
//Setup for the 11th click.
   $(this).off('click');
   $(this).on('click', function() {alert("Cannot add more files!!"); 

});
});
});
});
});
});
});
});
});
});
});

</script>

<% end %>

<br />

<%= link_to 'Back', micro_array_images_path %>

