<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "Microarray .GAL", microarraygals_path %></li>
      <li><%= link_to "Microarray .GPR", micro_arrays_path %></li>
      <li><%= link_to "micro array datas", micro_array_datas_path %></li>
      <li><%= link_to "micro array images", micro_array_images_path %></li>
      <li><%= link_to "micro array validations", micro_array_validations_path %></li>
      <li><%= link_to "micro array analysis files", micro_array_analysis_files_path %></li>
    </ul>
  </td></tr>
</table>

<h1>Editing GAL Header </h1>

<%= link_to 'Show', @gal_block %> |
<%= link_to 'Back', gal_blocks_path %>

<%= form_for(@gal_block) do |f| %>
  <%= f.error_messages %>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>

<fieldset><legend class="leg">GENERAL DATA</legend>

  <div class="field txt">
    <%= f.label :microarraygal_id, "Associated GAL ID" %><br />
    <h3><%= @gal_block.microarraygal_id %></h3>
  </div>
  <div class="field date">
    <%= f.label :loaded_at, "Uploaded at" %><br />
    <h3><%= @gal_block.created_at.to_s %></h3>
  </div>
</fieldset>


<fieldset><legend class="leg">HEADER</legend>
  <div class="field txt">
    <%= f.label :block_number, "Block#" %><br />
    <%= f.text_field :block_number %>
  </div>
  <div class="field num">
    <%= f.label :xOrigin, "xOrigin" %><br />
    <%= f.text_field :xOrigin %>
  </div>
  <div class="field num">
    <%= f.label :yOrigin, "yOrigin" %><br />
    <%= f.text_field :yOrigin %>
  </div>
  <div class="field num">
    <%= f.label :feature_diameter, "Feature Diameter" %><br />
    <%= f.text_field :feature_diameter %>
  </div>
  <div class="field num">
    <%= f.label :xFeatures, "xFeatures" %><br />
    <%= f.text_field :xFeatures  %>
  </div>
  <div class="field num">
    <%= f.label :xSpacing, "xSpacing" %><br />
    <%= f.text_field :xSpacing %>
  </div>
  <div class="field num">
    <%= f.label :yFeatures , "yFeatures" %><br />
    <%= f.text_field :yFeatures  %>
  </div>
  <div class="field num">
    <%= f.label :ySpacing, "ySpacing" %><br />
    <%= f.text_field :ySpacing %>
  </div>
  <div class="field num">
    <%= f.label :created_at, "Loading Date" %><br />
    <%= f.text_field :created_at %>
  </div>
</fieldset>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<%= link_to 'Show', @gal_block %> |
<%= link_to 'Back', gal_blocks_path %>



