<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "Microarray .GAL", microarraygals_path %></li>
      <li><%= link_to "Microarray .GPR", micro_arrays_path %></li>
      <li><%= link_to "micro array datas", micro_array_datas_path %></li>
      <li><%= link_to "micro array images", micro_array_images_path %></li>
      <li><%= link_to "micro array validations", micro_array_validations_path %></li>
      <li><%= link_to "micro array analysis files", micro_array_analysis_files_path %></li>
    </ul>
  </td></tr>
</table>


<%= link_to 'Edit', edit_gal_block_path(@gal_header) %> |
<%= link_to 'Back', gal_blocks_path %>
<br />
<br />

<fieldset><legend class="leg">Individual Block Data</legend>

<table width="95%"><tr><td>  
   <div class="show cod">
      <b>GAL ID:</b>
      <%= @gal_block.microarraygal_id %> 
  </div>    
  <div class="show cod">
      <b>Block#:</b>
      <%=h @gal_block.block_number %> 
  </div>
</td><td>
    <div class="show date">
      <b>Date:</b>
      <%=h @gal_block.created_at.strftime("%A %d %B %Y") %>
    </div>
</td></tr>
<tr><td> 
    <div class="show cod">
      <b>xOrigin:</b>
      <%=h @gal_block.xOrigin %> 
    </div>
</td><td>

    <div class="show date">
      <b>yOrigin:</b>
      <%=h @gal_block.yOrigin %>
    </div>
</td></tr>
<tr><td> 
    <div class="show cod">
      <b>Feature Diameter:</b>
      <%=h @gal_block.feature_diameter %> 
    </div>
</td></tr>
<tr><td> 
    <div class="show cod">
      <b>xFeatures:</b>
      <%=h @gal_block.xFeatures %> 
    </div>
</td><td>

    <div class="show date">
      <b>xSpacing:</b>
      <%=h @gal_block.xSpacing %>
    </div>
</td></tr>
<tr><td> 
    <div class="show cod">
      <b>yFeatures:</b>
      <%=h @gal_block.yFeatures %> 
    </div>
</td><td>

    <div class="show date">
      <b>ySpacing:</b>
      <%=h @gal_block.ySpacing %>
    </div>
</td></tr>
</table>

</fieldset>
<br />

<%= link_to 'Edit', edit_gal_block_path(@gal_block) %> |
<%= link_to 'Back', gal_blocks_path %>

