<%= jqgrid_stylesheets %>
<div style="display:none" javascript_include_tag('jqgrid/jquery.js') ></div>
<%= jqgrid_javascripts %>


<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "Microarray .GAL", microarraygals_path %></li>
      <li><%= link_to "Microarray .GPR", microarraygprs_path %></li>
      <li><%= link_to "Microarray Images", micro_array_images_path %></li>
      <li><%= link_to "Microarray Analysis files", micro_array_analysis_files_path %></li>
      <li><%= link_to "Microarray Validations", micro_array_validations_path %></li> 
    </ul>
  </td></tr>
</table>

<h1>New Microarray *.GAL File</h1>

<%= link_to 'Back', microarraygals_path %>

<%= form_for @microarraygal, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>

<fieldset><legend class="leg">General data</legend>
  <div class="field select">
    <%= f.label :partner_id %><br />
    <%= select :microarraygal, :partner_id,Partner.find(:all).collect{|p| [p.verbose_me, p.id]}%>
  </div>

   <div class="field select">
    <%= f.label :code %><br />
    <%= select :microarraygal, :code, Partner.find(:all).collect{|p| [p.code, p.code]}%>
  </div>
	 
   <div class="field txt">
    <%= f.label :barcode, "Partner barcode" %><br />
    <%= f.text_field :barcode %>
  </div>
  
  <div class="field txt">
    <%= f.file_field :gal_file %>
  </div>

  <div class="field date">
    <%= f.label :loaded_at, "Uploaded at" %><br />
    <%= f.date_select :loaded_at %>
  </div>
</fieldset>

  <div class="field area">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>

<% end %>

<%= link_to 'Back', microarraygals_path %>

