<%= jqgrid_stylesheets %>
<%= jqgrid_javascripts %>

<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "Microarray .GAL", microarraygals_path %></li>
      <li><%= link_to "Microarray .GPR", microarraygprs_path %></li>
      <li><%= link_to "Microarray Images", micro_array_images_path %></li>
      <li><%= link_to "Microarray Analysis files", micro_array_analysis_files_path %></li>
      <li><%= link_to "Microarray Validations", micro_array_validations_path %></li>      
    </ul>
  </td></tr>
</table>

<h2>Microarray experiments</h2>
<br />
<table>
<tr>
<td style="float=left"><b><%= link_to 'New microarray experiment', new_experiment_path %></b></td>
<td></td>
<td><b><a href="" onclick="analyze(); return false;">Analyze Selected Experiment</a></b></td>
</tr> 
</table>
<br />

<div id="preloader" style="display:none;" class="upload">
<%= link_to uploadLogo, root_path %>
</div>


<%=raw jqgrid("List of Microarray experiments: you can filter (using the lens icon in the bottom of the grid), sort (clicking on the header column), scroll the data in the grid (using the pagination system)", "ngbgrid", "/experiments",
	[
	{ :field => "id", :label => "ID", :width => 60, :resizable => false, :sortable => false, :editable => false, :hidden => true},
        { :field => "act", :label => "", :width => 30 , :resizable => false, :sortable => false, :search => false, :resizable => true },
        { :field => "exp_code", :label => "Microarray exp. code", :search => true, :width => 130, :sortable => true, :resizable => true, :align => 'center' },
        { :field => "filter_name", :label => "Filter sample", :search => true, :width => 130, :sortable => true, :resizable => true, :align => 'center' },
	{ :field => "gal_code", :label => "GAL code", :search => true, :sortable => true, :editable => false, :width => 250, :resizable => true, :align => 'center' },
        { :field => "partner_name", :label => "Partner", :search => true, :sortable => true, :editable => false, :width => 100, :resizable => true, :align => 'center' },
        { :field => "gpr_code", :label => "GPR code", :search => true, :sortable => true, :editable => false, :width => 250, :resizable => true, :align => 'center' },
        { :field => "exp_date", :label => "Exp. date", :search => true, :sortable => true, :editable => false, :width => 100, :resizable => true, :align => 'center' },
        { :field => "mi_image", :label => "Image", :search => false, :sortable => true, :editable => false, :width => 65, :align => 'center' },
        { :field => "check", :label => "Select", :width => 40 , :resizable => true, :sortable => false, :search => false, :formatter => 'checkbox', :formatoptions => { :disabled => false }, :editable => true, :edittype => 'checkbox', :align => 'center' },
	{ :field => "edit", :label => "Edit", :search => false, :sortable => false, :width => 30 , :resizable => true}
         ], 
    {   :autowidth => true,
        :add => false, 
        :edit => true, 
        :inline_edit => true, 
        :delete => true, 
        :rows_per_page => "8", 
        :height => 400, 
        :rownumbers => 'false',
        :multiselect => 'true',
        :subgrid=> { 
                :url => oligos_path,
                :rows_per_page => 40,
                :sort_column => 'microarraygal_id',
                :sort_order => 'asc',
                :search => 'false',
                :rownumbers => 'false',
                :columns => [
		            { :field => "id", :label => "ID", :width => 50, :resizable => false, :sortable => false, :editable => false, :hidden => true},
        { :field => "act", :label => "", :width => 30 , :resizable => false, :sortable => false, :search => false },
		{ :field => "oligo", :label => "Oligo Name", :search => false, :width => 180, :sortable => false  },	
	{ :field => "edit_link", :label => "edit", :search => false, :sortable => false, :width => 50 , :resizable => false}
]}
}
) %>

<br />

<br />
<table>
<tr>
<td style="float=left"><%= link_to 'New microarray experiment', new_experiment_path %><td>
</tr>       
</table>
<br />

<script type="text/javascript" >

function analyze() {

var obj = $("input:checked").map(function () { return $(this).parents('tr').attr('id'); })

var result = null;
     var arr = jQuery.makeArray(obj);
     var data = arr.join(',');
     //alert(ids);

$.ajax({
        url : '<%= url_for :controller => "experiments", :action => "analyze_experiment" %>',
        type : 'POST',
        data : {data:data},
        dataType : 'html',
        success : function(response) { 
             window.location = "<%= 'micro_array_analysis_files' %>";
		$('#preloader').hide();
            }
      }); 
};

</script>


