<table>
<tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "land use mapping", land_use_mappings_path %></li>
      <li><%= link_to "water use", water_uses_path %></li>
      <li><%= link_to "water type", water_types_path %></li>
      <li><%= link_to "geo", geos_path %></li>
      <li><%= link_to "alt. type", altitude_types_path %></li>
      <li><%= link_to "catchment area", catchment_areas_path %></li>
      <li><%= link_to "depth", depths_path %></li>
      <li><%= link_to "size type", size_typologies_path %></li>
      <li><%= link_to "geology", geologies_path %></li>
    </ul>
  </td></tr>
</table>

<h1>New sampling site</h1>
<%= link_to 'Back', sampling_sites_path %>
<br />
<br />

<%= form_for(@sampling_site) do |f| %>
  <%= f.error_messages %>

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>

<fieldset><legend class="leg">GENERAL DATA</legend>
  <div class="field txtshort">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
    <div style="display:none"> text_field_with_label f, :code </div>
  </div>
  <div class="field txt">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field select">
    <%= f.label :water_types_id, "Select Water Type" %><br />
    <%= select :sampling_site,:water_type_id,WaterType.find(:all).collect{|p| [p.verbose_me, p.id]}%>
  </div>
  <div class="field select">
    <%= f.label :water_uses_id, "Select Water Use" %><br />
    <%= select :sampling_site,:water_use_id,WaterUse.find(:all).collect{|p| [p.verbose_me, p.id]}%>
  </div>
  <div class="field select">
    <%= f.label :land_use_mappings_id, "Select Land use mapping" %><br />
    <%= select :sampling_site,:land_use_mapping_id,LandUseMapping.find(:all).collect{|p| [p.verbose_me, p.id]}%>
    <div style="display:none"> t.string   "geos_type" </div>
  </div>
  <div class="field select">
    <%= f.label :geos_id, "Select Geographical place" %><br />
    <%= select :sampling_site,:geo_id,Geo.find(:all).collect{|p| [p.verbose_me, p.id]}%>
  </div>
  <div class="field txt">
    <%= f.label :link, "Link" %><br />
    <%= f.text_field :link %>
  </div>

</fieldset>

<fieldset><legend class="leg">ENVIRONMENTAL DATA</legend>

  <div class="datas select">
    <%= f.label :altitude_types_id, "Select altitude type (m)"  %><br />
    <%= select :sampling_site,:altitude_types_id,AltitudeType.find(:all).collect{|p| [p.name, p.id]}%>
  </div>
  <div class="datas select">
    <%= f.label :catchment_areas_id, "Select the catchment area (km²)"  %><br />
    <%= select :sampling_site,:catchment_areas_id,CatchmentArea.find(:all).collect{|p| [p.name, p.id]}%>
  </div>

  <div class="datas select">
    <%= f.label :geologies_id, "Select the geology"  %><br />
    <%= select :sampling_site,:geologies_id,Geology.find(:all).collect{|p| [p.name, p.id]}%>
  </div>
  <div class="datas select">
    <%= f.label :depth_id, "Select the depth (m)"  %><br />
    <%= select :sampling_site,:depth_id,Depth.find(:all).collect{|p| [p.name, p.id]}%>
  </div>
  <div class="datas select">
    <%= f.label :size_typologies_id, "Select the size typology (km²)"  %><br />
    <%= select :sampling_site,:size_typologies_id,SizeTypology.find(:all).collect{|p| [p.name, p.id]}%>
  </div>
  <div class="datas num">
    <%= f.label :distance_to_source, "Distance to source (km)" %><br />
    <%= f.text_field :distance_to_source %>
  </div>

</fieldset>

  <div class="field">
    <%= f.label :Note %><br />
    <%= f.text_area :note %>
  </div>
<br />
  <div class="actions">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', sampling_sites_path %>

