<%= javascript_include_tag 'ym4r-gm.js' %>
<%= raw(GMap.header) %> 

<table>
<tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "land use mapping", land_use_mappings_path %></li>
      <li><%= link_to "water use", water_uses_path %></li>
      <li><%= link_to "water type", water_types_path %></li>
      <li><%= link_to "geo", geos_path %></li>
      <li><%= link_to "alt. type", altitude_types_path %></li>
      <li><%= link_to "catchment area", catchment_areas_path %></li>
      <li><%= link_to "depth", depths_path %></li>
      <li><%= link_to "size type", size_typologies_path %></li>
      <li><%= link_to "geology", geologies_path %></li>
    </ul>
  </td></tr>
</table>

<%= link_to 'Edit', edit_sampling_site_path(@sampling_site) %> |
<%= link_to 'Back', sampling_sites_path %>
<br />
<br />

<fieldset><legend class="leg">GENERAL DATA</legend>

  <div class="show cod">
      <b>Code:</b>
      <h3><%=h @sampling_site.code %></h3>
  </div>
  <div class="show cod">
      <b>Name:</b>
      <h3><%=h @sampling_site.name %></h3>
  </div>

  <div class="show link">
      <b>Site:</b>
      <h3><%= link_to @sampling_site.name, @sampling_site.link, :target => "_blank" %></h3>
  </div>

  <div class="show select">
      <b>Water type:</b>
      <%=h @wt.code + " " + @wt.name %>
  </div>

  <div class="show select">
      <b>Water use:</b>
      <%=h @wu.code + " " + @wu.name %>
  </div>

  <div class="show select">
      <b>Land use mapping:</b>
      <%=h @lum.name %>
  </div>

  <div class="show select">
      <b>Geo:</b>
      <%=h @geo.verbose_me %>
  </div>

</fieldset>

<fieldset><legend class="leg">ENVIRONMENTAL DATA</legend>

<div class="datas select">
  <b>Altitude type (m):</b>
  <%=h @at.name %>
</div>

<div class="datas select">
  <b>Catchment area (km²):</b>
  <%=h @ca.name %>
</div>
<div class="datas select">
  <b>Geology:</b>
  <%=h @geol.name %>
</div>
<div class="datas select">
  <b>Depth (m):</b>
  <%=h @depth.name %>
</div>
<div class="datas select">
  <b>Size typology (km²):</b>
  <%=h @st.name %>
</div>
<div class="datas select">
  <b>Distance to source (km):</b>
  <%=h @sampling_site.distance_to_source %>
</div>

</fieldset>
<%= raw(@map.to_html) %> 
<%= raw(@map.div(:width => 1090, :height => 350)) %>
<br />
<%= link_to 'Edit', edit_sampling_site_path(@sampling_site) %> |
<%= link_to 'Back', sampling_sites_path %>



