<h1>Code types</h1>
<%= link_to 'New code_type', new_code_type_path %>
<br />
<br />

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Partner</th>
  </tr>

<% @code_types.each do |code_type| %>
  <tr>
    <td class="code"><%=h code_type.code %></td>
    <td><%=h code_type.name %></td>
    <td><%=h Partner.find(code_type.partner_id).verbose_me %></td>
    <td><%= link_to 'Show', code_type %></td>
    <% if auth_user(code_type.partner_id) or signed_in_and_master? %>
      <td><%= link_to 'Edit', edit_code_type_path(code_type) %></td>
      <td><%= link_to 'Delete', code_type, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<br />
<%= link_to 'New code_type', new_code_type_path %>
<br />

