<%= jqgrid_stylesheets %>
<div style="display:none" javascript_include_tag('jqgrid/jquery.js') ></div>
<%= jqgrid_javascripts %> 
<table>
      <tr>   
              <td>
                 <h2>New Oligo Sequence Multiple File Upload (*.csv or *.tsv)</h2>
              </td>
              <td>               
                   <div>
		   <b><u><a href="<%= '/download_sample_csv' %>" >Download an example file for oligo sequence</a></u></b>
		   </div>
             </td>
      </tr>
</table>

<%= link_to 'Back', oligo_sequences_path %>
<br />              
<br />
<%= form_for(@batch_oligo, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

<style>

.actionSubmit {
                border:3px outset;
                background-color:#0174DF;
                color:#ffffff
}


</style>


<table>
       <tr><td>
		   <div class="add_file_button">
		   <input type="button" id="add_files" style=" border:3px outset;background-color:#0174DF;color:#ffffff" value="Add Files" />
		   </div>                  
           </td>
           <td>
		   <div class="actions">
		   <%= f.submit 'Save files', :class => 'actionSubmit' %>
		   </div>
           </td>
       </tr>
       
</table> 
	          
	    <div class="paperclip">
	    <%= f.fields_for :assets do |asset| %><br>
            
	 <%= asset.file_field :fiolse %> <br>
            
	    <% end %>
	    </div>  


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
$("div.paperclip > input").css("display","none");

$("#add_files").click(function() {$("#batch_oligo_assets_attributes_0_fiolse").toggle("fast");

 //Setup for the second click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_oligo_assets_attributes_1_fiolse").toggle("fast"); 
//Setup for the third click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_oligo_assets_attributes_2_fiolse").toggle("fast"); 
//Setup for the fourth click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_oligo_assets_attributes_3_fiolse").toggle("fast"); 
//Setup for the fifth click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_oligo_assets_attributes_4_fiolse").toggle("fast"); 
//Setup for the sixth click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_oligo_assets_attributes_5_fiolse").toggle("fast"); 
//Setup for the seventh click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_oligo_assets_attributes_6_fiolse").toggle("fast"); 
//Setup for the eigth click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_oligo_assets_attributes_7_fiolse").toggle("fast"); 
//Setup for the ninth click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_oligo_assets_attributes_8_fiolse").toggle("fast"); 
//Setup for the 10th click.
   $(this).off('click');
   $(this).on('click', function() {$("#batch_oligo_assets_attributes_9_fiolse").toggle("fast");
//Setup for the 11th click.
   $(this).off('click');
   $(this).on('click', function() {alert("Cannot add more files!!"); 

});
});
});
});
});
});
});
});
});
});
});

</script>

<% end %>

<br />

<%= link_to 'Back', oligo_sequences_path %>

