<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
        <li><%= link_to "nucleic acid type", nucleic_acid_types_path %></li>
    </ul>
  </td></tr>
</table>

<h1>New nucleic acid</h1>

<%= form_for(@nucleic_acid) do |f| %>
  <%= f.error_messages %>

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>

<fieldset><legend class="leg">GENERAL DATA</legend>

<table width="95%"><tr><td>


  <div class="field select">
    <%= f.label :filter_sample, "Filter sample" %><br />
    <%= select :nucleic_acid,:filter_sample_id, @fs.collect{|p| [p.code + ' ' + p.verbose_me, p.id]}%>
  </div>

  <div class="field dol">
    <%= f.label :dol, "Degree of Labelling (DOL)" %><br />
    <%= f.text_field :dol %>
  </div>

</td><td>

  <div class="field code">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>

  <div class="field select">
    <%= f.label :nucleic_acid_type, "Nucleic acid type", :title => "Nucleic acids are biological molecules essential for life, and include DNA (deoxyribonucleic acid) and RNA (ribonucleic acid). Together with proteins, nucleic acids make up the most important macromolecules; each is found in abundance in all living things, where they function in encoding, transmitting and expressing genetic information." %><br />
    <%= select :nucleic_acid,:nucleic_acid_type_id, NucleicAcidType.all.collect{|p| [p.verbose_me, p.id]}%>
  </div>

  <div class="field date">
    <%= f.label :date, "date" %><br />
    <%= date_select :nucleic_acid, :date %>
  </div>

</td><tr></table>

</fieldset>

  <div class="field area">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', nucleic_acids_path %>
