<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "Microarray .GAL", microarraygals_path %></li>
      <li><%= link_to "Microarray .GPR", microarraygprs_path %></li>
      <li><%= link_to "Microarray Images", micro_array_images_path %></li>
      <li><%= link_to "Microarray Analysis files", micro_array_analysis_files_path %></li>
      <li><%= link_to "Microarray Validations", micro_array_validations_path %></li> 
    </ul>
  </td></tr>
</table>

<% if auth_user(@microarraygpr.partner_id) %>
  <%= link_to 'Edit', edit_microarraygpr_path(@microarraygpr) %> |
<% end %>
<%= link_to 'Back', microarraygprs_path %>
<br><br>

<table width="95%"><tr><td>

<div>
  <b>GPR Title:</b>
  <%=h @microarraygpr.gpr_title %>
</div>
</td>
<td>
 <div>
  <b>Partner:</b>
  <%=h @microarraygpr.partner.verbose_me %>
</div>
</td>
</tr>
<tr><td>
<div>
  <b>Loaded at:</b>
  <%=h @microarraygpr.loaded_at.to_s %>
</div>
</td>
<td>
<div>
<%= link_to "CSV Download File", :controller => 'microarraygprs', :action=> 'download_csv', :id => @microarraygpr.id  %>
</div>
</td>
</tr>
<tr><td>
<div>   
  <textarea id="parseheader" rows="50" cols="150"><%=h extract_gpr_info() %></textarea>
  </div>
</td>
</tr>
</table>
<br>
<% if auth_user(@microarraygpr.partner_id) %>
  <%= link_to 'Edit', edit_microarraygpr_path(@microarraygpr) %> |
<% end %>
<%= link_to 'Back', microarraygprs_path %>

