<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
		  <li><%= link_to "operation", operations_path %></li>
    </ul>
  </td></tr>
</table>

<h1>Editing protocol</h1>

<%= link_to 'Show', @protocol %> |
<%= link_to 'Back', protocols_path %>

<%= form_for(@protocol) do |f| %>
  <%= f.error_messages %>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>

  <div class="field select">
    <%= f.label :sampling_id, "selected sampling" %><br />
    <h3><%= @sampling.verbose_me%></h3>
  </div>

   <div class="field txt">
    <%= f.label :name %><br />
    <%= f.text_area :name  %>
  </div>
   <div class="field area">
    <%= f.label :GrowthProtocol, "Growth Protocol" %><br />
    <%= f.text_area :GrowthProtocol %>
  </div>
   <div class="field area">
    <%= f.label :TreatmentProtocol, "Treatment Protocol" %><br />
    <%= f.text_area :TreatmentProtocol %>
  </div>
   <div class="field area">
    <%= f.label :ExtractProtocol, "Extract Protocol" %><br />
    <%= f.text_area :ExtractProtocol %>
  </div>
   <div class="field area">
    <%= f.label :LabelProtocol, "Label Protocol" %><br />
    <%= f.text_area :LabelProtocol %>
  </div>
   <div class="field area">
    <%= f.label :HybProtocol, "Hyb Protocol" %><br />
    <%= f.text_area :HybProtocol %>
  </div>
   <div class="field area">
    <%= f.label :ScanProtocol, "Scan Protocol" %><br />
    <%= f.text_area :ScanProtocol %>
  </div>
   <div class="field area">
    <%= f.label :DataProcessing, "Data Processing" %><br />
    <%= f.text_area :DataProcessing %>
  </div>
   <div class="field area">
    <%= f.label :ValueDefinition, "Value Definition" %><br />
    <%= f.text_area :ValueDefinition %>
  </div>
  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<%= link_to 'Show', @protocol %> |
<%= link_to 'Back', protocols_path %>

