<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
		  <li><%= link_to "operation", operations_path %></li>
    </ul>
  </td></tr>
</table>

<% if auth_sample_user(@protocol.sampling_id) or signed_in_and_master?  %>
  <%= link_to 'Edit', edit_protocol_path(@protocol) %> |
<% end %>
<%= link_to 'Back', protocols_path %>

<p>
  <b>Name:</b>
  <%=h @protocol.name %>
</p>
<p>
  <b>Sampling:</b>
  <%=h @s.verbose_me %>
</p>
<p>
  <b>Partner:</b>
  <%=h @pt.verbose_me %>
</p>
<p>
  <b>Growth protocol:</b>
  <%=h @protocol.GrowthProtocol %>
</p>

<p>
  <b>Treatment protocol:</b>
  <%=h @protocol.TreatmentProtocol %>
</p>

<p>
  <b>Extract protocol:</b>
  <%=h @protocol.ExtractProtocol %>
</p>

<p>
  <b>Label protocol:</b>
  <%=h @protocol.LabelProtocol %>
</p>

<p>
  <b>Hybprotocol:</b>
  <%=h @protocol.HybProtocol %>
</p>

<p>
  <b>Scan protocol:</b>
  <%=h @protocol.ScanProtocol %>
</p>

<p>
  <b>Data processing:</b>
  <%=h @protocol.DataProcessing %>
</p>

<p>
  <b>Value definition:</b>
  <%=h @protocol.ValueDefinition %>
</p>


<% if auth_sample_user(@protocol.sampling_id) or signed_in_and_master?  %>
  <%= link_to 'Edit', edit_protocol_path(@protocol) %> |
<% end %>
<%= link_to 'Back', protocols_path %>

