<%= jqgrid_stylesheets %>
<%= jqgrid_javascripts %> 



<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
        <li class="hide" style="display: none;"><%= link_to "equipment", sampling_equipments_path %></li>
        <li class="hide" style="display: none;"><%= link_to "code type", code_types_path %></li>
        <li class="hide" style="display: none;"><%= link_to "protocol", protocols_path %></li>
        <li><%= link_to "Samplings Batch File Upload", new_batch_sampling_path %></li>
    </ul>
    
  </td></tr>
</table>

<h1>Samplings</h1>
<%= link_to 'New sampling', new_sampling_path %>
<br />
<br />

<% if flash[:notice] %>
<div class="notice round new-notice" id="notice"><%= flash[:notice] %></div>
<% end %>
<script type="text/javascript">
var notice = $('#notice');
    if ( notice.text().length > 0 ) { notice.delay(1500).fadeOut('slow'); }
</script>


<%=raw jqgrid("List of samplings: you can filter (using the lens icon in the bottom of the grid), sort (clicking on the header column), scroll the data in the grid (using the pagination system)", "ngbgrid", "/samplings",
	[
		{ :field => "id", :label => "ID", :width => 50, :resizable => false, :sortable => false, :editable => false, :hidden => true},
        { :field => "act", :label => "", :width => 50 , :resizable => false, :sortable => false, :search => false },
		{ :field => "code", :label => "Code", :width => 150, :search => true, :sortable => true },
		{ :field => "site_name", :label => "Sampling site", :search => true, :width => 250, :sortable => true  },
		{ :field => "volume", :label => "Volume (lt)", :width => 90, :class => "taright"  },
		{ :field => "partner_name", :label => "Partner", :search => true, :sortable => true, :editable => false, :width => 100 },
		{ :field => "sampling_equipment_name", :label => "Equipment", :search => false, :width => 100, :sortable => false  },
		{ :field => "edit_link", :label => "edit", :search => false, :sortable => false, :width => 50 , :resizable => false},
	], 
    {:autowidth => true,
    :subgrid=> { 
                :url => filter_samples_path,
                :rows_per_page => 20,
                :sort_column => 'code',
                :sort_order => 'asc',
                :search => 'false',
                :rownumbers => 'false',
                :columns => [
		            { :field => "id", :label => "ID", :width => 35, :resizable => false, :sortable => false, :editable => false, :hidden => true, :search => false},
                    { :field => "act", :label => "", :width => 35, :sortable => false, :resizable => false, :search => false },
  		            { :field => "code", :label => "Code", :width => "150", :search => false },
		            { :field => "sample_name", :label => "Sampling", :sortable => false, :editable => false, :width => "200", :hidden => true, :search => false  },
		            { :field => "barcode", :label => "Partner barcode", :editable => false, :width => 200, :search => false },
		            { :field => "filter_name", :label => "pore size (µm)", :sortable => false, :editable => false, :width => 60, :class => "taright", :search => false },
		            { :field => "num_filters", :label => "n° Tube", :width => 50, :class => "taright", :search => false },
		            { :field => "volume", :label => "Volume (lt)", :width => 70, :class => "taright", :search => false },
		            { :field => "edit_link", :label => "edit", :sortable => false, :width => 35 , :resizable => false, :search => false},
					  ]
					}
}

) %>

<br />
<br />
<%= link_to 'New sampling', new_sampling_path %>
<br />

