<h1>Editing depth</h1>

<%= form_for(@depth) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<%= link_to 'Show', @depth %> |
<%= link_to 'Back', depths_path %>
