<div id="header">
  <table><tr><td rowspan="2">

  <%= link_to appHelperLogo, root_path %>

  </td><td rowspan="2">

  <%# appBetaLogo %>

  </td><td>

  <ul class="navigation round">
    <li><%= link_to "Internal site", root_path  %></li>
    <li><a href="http://microaqua.eu/" target="_blank">External site</a></li>
    <li><a href="http://engeebee.com/dpmicroaqua/" target="_blank">Reports</a></li>
  </ul>

  <% if signed_in? %>
    <%= link_to appHelperLogout, signout_path, :method => :delete %>
  <% else %>
      <% if !request.url.include? 'signin' %>
        <%= link_to(appHelperLogin, signin_path) %>
     <% end %>
  <% end %>

  <% if signed_in? %>

    </td></tr><tr><td class="transparent">

    <ul class="navigation round">

      <li><%= link_to "Sampling site", sampling_sites_path %></li>
      <li><%= link_to "Sampling", samplings_path %></li>
      <li><%= link_to "Filter sample", filter_samples_path %></li>
      <li><%= link_to "Nucleic acid", nucleic_acids_path %></li>
      <li><%= link_to "Oligo sequence", oligo_sequences_path %></li>
      <li><%= link_to "Microarray experiments", experiments_path %></li>
    </ul>
    <br />

  <% end %>


  </table>

<div style="display:none;">
  refactor using params[:controller] from hash url
  <% if signed_in? %>
  <table>
  <tr class="taleft" width="70%"><td class="taleft">
      <ul class="navigation round taleft">
        <li><%= link_to "land use mapping", land_use_mappings_path %></li>
        <li><%= link_to "geo", geos_path %></li>
        <li><%= link_to "water use", water_uses_path %></li>
        <li><%= link_to "water type", water_types_path %></li>
      </ul>
    </td></tr>
  </table>

  <table>
    <tr class="taleft" width="70%"><td class="taleft">
      <ul class="navigation round taleft">
        <li><%= link_to "taxonomy", names_path %></li>
        <li><%= link_to "taxonomy nodes", nodes_path %></li>
      </ul>
    </td><td class="taleft">
      <ul class="navigation round taleft">
        <li><%= link_to "code type", code_types_path %></li>
      </ul>
    </td></tr>
  </table>

  <table>
  <tr class="taleft" width="70%"><td class="taleft">
      <ul class="navigation round taleft">
        <li><%= link_to "code type", code_types_path %></li>
        <li><%= link_to "filter", wfilters_path %></li>
		    <li><%= link_to "protocol", protocols_path %></li>
      </ul>
    </td></tr>
  </table>

  <% end %>
</div>


</div>
<br />

