<h1>Operations</h1>
<%= link_to 'New operation', new_operation_path %>
<br />
<br />

<table>
  <tr>
    <th>Protocol</th>
    <th>Name</th>
    <th>Step</th>
  </tr>

<% @operations.each do |operation| %>
  <tr>
    <td><%=h operation.protocol %></td>
    <td><%=h operation.name %></td>
    <td><%=h operation.step %></td>
    <td><%= link_to 'Show', operation %></td>
    <% if auth_prot_sample_user(operation.protocol_id) or signed_in_and_master? %>
      <td><%= link_to 'Edit', edit_operation_path(operation) %></td>
      <td><%= link_to 'Delete', operation, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<br />
<%= link_to 'New operation', new_operation_path %>
<br />

